{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>About</h1>
    <p>
        CultureCall is a website where you can use meaningless "points" to bet on celebrities, events, etc. It is composed of markets, which function much like stock markets. <br>
        Markets can be created and must have a corresponding wikipedia page to prevent spam. They never "settle" and are merely bets on the future, much like stocks. <br>
        When you buy or sell a market, you put a "limit price." This means the worst price you want to buy or sell something for. We don't offer <abbr title="an order which buys any avaliable shares regardless of price">market orders</abbr> as they can 
        often not close like the <abbr title="the price of the last closed trade between a buyer and seller">price</abbr> of a market due to low liquidity. 
    </p>

    <h2>Get Trading!</h2>
    <a href="/">Log In</a>
{% endblock %}