{% extends "layout.html" %}

{% block title %} 
    Portfolio
{% endblock %}

{% block main %}
    <div id="pointsdiv">
        <h2 id="points">Points (Bank): {{ points }}</h2>
    </div>
    <hr>
    <h2>Portfolio</h2>
    <br>
    <table>
        <tr>
            <th>Market</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Value</th>
        </tr>
    {% for position in portfolio %}
        <tr>
            <td>{{ mktName(position["marketId"]) }}</td>
            <td>{{ position["sharesCount"] }}</td>
            <td>{{ pts(price(position["marketId"])) }}</td>
            <td>{{ pts(price(position["marketId"]) * position["sharesCount"]) }}</td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    <h2>Open Orders</h2>
    <table>
        <tr>
            <th>Market</th>
            <th>Shares</th>
            <th>Side</th>
            <th>Price</th>
            <th>Value if Closed</th>
        </tr>
    {% for position in open %}
        <tr>
            <td>{{ mktName(position["marketId"]) }}</td>
            <td>{{ position["sharesCount"] }}</td>
            <td>{{ position["side"] }}</td>
            <td>{{ pts(position["limitPrice"]) }}</td>
            <td>{{ pts(position["limitPrice"] * position["sharesCount"]) }}</td>
            <td>
                <form action="/cancel" method="post">
                    <input type="hidden" name="market" value="{{ position['marketId'] }}">
                    <button type="submit">Cancel</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    <h2>History</h2>
    <table>
        <tr>
            <th>Market</th>
            <th>Side</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Total Value</th>
        </tr>
    {% for transaction in history %}
        <tr>
            <td>{{ transaction["market"] }}</td>
            <td>{{ transaction["side"] }}</td>
            <td>{{ pts(transaction["executePrice"]) }}</td>
            <td>{{ transaction["sharesCount"] }}</td>
            <td>{{ pts(transaction["executePrice"] * transaction["sharesCount"]) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}